<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.hasnat_mushfiq.banglanewspaper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BanglaNewspaper">

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4998576540264970~9762622335"/>


        <activity android:name=".home_new">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TvNews" />
        <activity android:name=".Technology" />
        <activity android:name=".Sports" />
        <activity android:name=".Radio" />
        <activity android:name=".NewsPortal" />
        <activity android:name=".Jobs" />
        <activity android:name=".International">

        </activity>
        <activity android:name=".Epaper" />
        <activity android:name=".Entertainment" />
        <activity android:name=".Business" />
        <activity android:name=".English" />
        <activity android:name=".Bangla" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TestingActivity" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>

</manifest>