<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.hasnat.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BanglaNewspaper">

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4998576540264970~9762622335"/>


        <activity android:name="apps.hasnat.news.home_new"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="apps.hasnat.news.TvNews" />
        <activity android:name="apps.hasnat.news.Technology" />
        <activity android:name="apps.hasnat.news.Sports" />
        <activity android:name="apps.hasnat.news.Radio" />
        <activity android:name="apps.hasnat.news.NewsPortal" />
        <activity android:name="apps.hasnat.news.Jobs" />
        <activity android:name="apps.hasnat.news.International">

        </activity>
        <activity android:name="apps.hasnat.news.Epaper" />
        <activity android:name="apps.hasnat.news.Entertainment" />
        <activity android:name="apps.hasnat.news.Business" />
        <activity android:name="apps.hasnat.news.English" />
        <activity android:name="apps.hasnat.news.Bangla" />
        <activity android:name="apps.hasnat.news.MainActivity" />
        <activity android:name="apps.hasnat.news.TestingActivity" />
        <activity
            android:name="apps.hasnat.news.Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity android:name="apps.hasnat.news.Int_Bangla"></activity>
    </application>


</manifest>